<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

@if (theme$ | async; as theme) {
<ng-container *transloco="let t; read: 'directors'">
  <div class="header d-flex justify-content-center align-items-center flex-column" [class.text__white]="theme==='dark'">
    <h1 class="title">{{t('page_title')}}</h1>
    <form #searchForm="ngForm" (ngSubmit)="goToPage(searchForm.value.title)" role="search">
      <mat-form-field appearance="outline">
        <mat-label>{{t('search')}}</mat-label>
        <input matInput id="search" name="title" ngModel>
        <button mat-icon-button matSuffix type="submit">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </form>
    <button mat-raised-button class="add-button" data-bs-toggle="modal" data-bs-target="#addDirectorModal"
      (click)="onOpenModal(null!, 'add')">
      {{t('add')}}<i class="fa-solid fa-plus ms-2"></i>
    </button>
  </div>

  @if(directorsPage$ | async; as directors) {
  <div class="directors__wrapper" [class.text__white]="theme==='dark'">
    @for(director of directors.content; track $index) {
    <div class="card directors__card">
      <div class="card-body">
        <h5 class="card-title">{{director.name}} {{director.surname}}</h5>
        <div>
          <button class="directors__card__button" mat-raised-button color="primary" data-bs-toggle="modal"
            data-bs-target="#updateDirectorModal" (click)="onOpenModal(director, 'edit')">{{t('edit')}}</button>
          <button class="directors__card__button" mat-raised-button color="warn" data-bs-toggle="modal"
            data-bs-target="#deleteDirectorModal" (click)="onOpenModal(director, 'delete')">{{t('delete')}}</button>
        </div>
      </div>
    </div>
    }
  </div>
  <nav>
    <ul class="pagination justify-content-center">
      <li class="page-item pointer" [ngClass]="currentPage === 0 ? 'disabled' : 'inactive'">
        <a class="page-link" (click)="goToNextOrPreviousPage('prev', '')" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      @for (pageNumber of [].constructor(directors.totalPages); track $index) {
      <li class="page-item pointer" [ngClass]="currentPage === $index ? 'active' : 'inactive'">
        <a (click)="goToPage((searchForm.value.title), $index)" class="page-link">
          {{ $index + 1 }}
        </a>
      </li>
      }
      <li class="page-item pointer" [ngClass]="currentPage === directors.totalPages - 1 ? 'disabled' : 'inactive'">
        <a class="page-link" (click)="goToNextOrPreviousPage('next', '')" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
  } @else {
  <div class="directors__wrapper">
    <mat-spinner class="m-1"></mat-spinner>
  </div>
  }

  <!-- Add Director Modal -->
  <div class="modal fade" id="addDirectorModal" tabindex="-1" role="dialog" aria-labelledby="addDirectorModalLabel"
    aria-hidden="true" [class.text__white]="theme==='dark'">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addDirectorModalLabel">{{t('add')}}</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddDirector(addForm)">
            <div class="form-group">
              <label for="name">{{t('name')}}</label>
              <input type="text" ngModel name="name" class="form-control" id="name" autocomplete="off">
            </div>
            <div class="form-group">
              <label for="surname">{{t('surname')}}</label>
              <input type="text" ngModel name="surname" class="form-control" id="surname" autocomplete="off" required>
            </div>
            <div class="modal-footer">
              <button type="button" id="add-director-form" mat-raised-button
                data-bs-dismiss="modal">{{t('close')}}</button>
              <button [disabled]="addForm.invalid" type="submit" mat-raised-button data-bs-dismiss="modal"
                color="primary">{{t('save')}}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Modal -->
  <div class="modal fade" id="updateDirectorModal" tabindex="-1" role="dialog" aria-labelledby="directorEditModalLabel"
    aria-hidden="true" [class.text__white]="theme==='dark'">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateDirectorModalLabel">{{t('edit')}} {{editDirector?.name}}
            {{editDirector?.surname}}</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
            <div class="form-group">
              <label for="name">{{t('name')}}</label>
              <input type="text" ngModel="{{editDirector?.name}}" name="name" class="form-control" id="name"
                aria-describedby="emailHelp">
            </div>
            <input type="hidden" ngModel="{{editDirector?.id}}" name="id" class="form-control" id="id" placeholder="">
            <div class="form-group">
              <label for="surname">{{t('surname')}}</label>
              <input type="text" ngModel="{{editDirector?.surname}}" name="surname" class="form-control" id="surname">
            </div>
            <div class="modal-footer">
              <button type="button" mat-raised-button data-bs-dismiss="modal">{{t('close')}}</button>
              <button (click)="onUpdateDirector(editForm.value)" data-bs-dismiss="modal" mat-raised-button
                color="primary">{{t('save')}}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Modal -->
  <div class="modal fade" id="deleteDirectorModal" tabindex="-1" aria-labelledby="deleteDirectorModalLabel"
    aria-hidden="true" [class.text__white]="theme==='dark'">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteDirectorModalLabel">{{t('delete_modal.title')}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <p>{{t('delete_modal.text')}}<span class="modal-movie-title">{{deleteDirector?.name}}
              {{deleteDirector?.surname}}</span>?</p>
        </div>
        <div class="modal-footer">
          <button type="button" mat-raised-button data-bs-dismiss="modal">{{t('no')}}</button>
          <button type="button" mat-raised-button color="warn" data-bs-dismiss="modal"
            (click)="onDeleteDirector(deleteDirector)">{{t('yes')}}</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
}