<ng-container *transloco="let t">
  <nav>
    <mat-toolbar color="primary">
      <span>Movies App</span>
      <span class="example-spacer"></span>
      <button mat-button routerLink="/movies">{{t('navigation.movies')}}</button>
      <button mat-button routerLink="/directors">{{t('navigation.directors')}}</button>
      <button mat-stroked-button routerLink="/auth">{{t('navigation.login')}}</button>
    </mat-toolbar>
  </nav>

  <button (click)="changeLanguage()">
    {{ t('language') }}
  </button>
</ng-container>