<ng-container *transloco="let t">
  <nav>
    <mat-toolbar color="primary">
      <span>Movies App</span>
      <span class="example-spacer"></span>
      <button mat-button routerLink="/movies">{{t('navigation.movies')}}</button>
      <button mat-button routerLink="/directors">{{t('navigation.directors')}}</button>
      <button mat-button [matMenuTriggerFor]="beforeMenu">{{t('navigation.account')}}</button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        @if(authService.token) {
        <button routerLink="/auth/account" mat-menu-item>dupa</button>
        <button (click)="logout()" mat-menu-item>wyloguj</button>
        }
        @else {
        <button routerLink="/auth/login" mat-menu-item>{{t('navigation.login')}}</button>
        <button routerLink="/auth/register" mat-menu-item>{{t('navigation.register')}}</button>
        }
      </mat-menu>
    </mat-toolbar>
  </nav>

  <button (click)="changeLanguage()">
    {{ t('language') }}
  </button>
  <!-- <button (click)="changeTheme()">
    {{ t('theme') }}
  </button> -->

  <div *ngIf="theme$| async as theme" class="btn-group" role="group">
    <input type="radio" class="btn-check" name="light" id="light" autocomplete="off"
      (focus)="changeTheme('light',theme)" [checked]="theme ==='light'">
    <label class="btn btn-outline-primary" for="light" [title]="t('changeToLightTheme')">
      🌞
    </label>

    <input type="radio" class="btn-check" name="dark" id="dark" autocomplete="off" (focus)="changeTheme('dark',theme)"
      [checked]="theme ==='dark'">
    <label class="btn btn-outline-primary" for="dark" [title]="t('changeToDarkTheme')">
      🌑
    </label>

  </div>
  <!-- <button mat-raised-button (click)="signInWithGoogle()">Gugl</button> -->
</ng-container>