<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

@if (theme$ | async; as theme) {
<div class="card" *transloco="let t; read: 'auth'">
  <div class="card-header">
    <h2 class="card-title">{{t('registration')}}</h2>
  </div>
  <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="submitForm()" class="form">
      <div class="mb-3">
        <label for="name" class="form-label">{{t('name')}}</label>
        <input type="text" class="form-control" id="name" formControlName="name" autocomplete="off" />
        <div class="text-danger"
          *ngIf="registerForm.get('name')!.touched && registerForm.get('name')!.hasError('required')">
          {{t('required')}}
        </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">{{t('email')}}</label>
        <input type="email" class="form-control" id="email" formControlName="email" autocomplete="off" />
        <div class="text-danger"
          *ngIf="registerForm.get('email')!.touched && registerForm.get('email')!.hasError('required')">
          {{t('required')}}
        </div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">{{t('password')}}</label>
        <input type="password" class="form-control" id="password" formControlName="password" autocomplete="off" />
        <div class="text-danger"
          *ngIf="registerForm.get('password')!.touched && registerForm.get('password')!.hasError('required')">
          {{t('required')}}
        </div>
      </div>

      <div class="mb-3">
        <label for="repeatPassword" class="form-label">{{t('repeatPassword')}}</label>
        <input type="password" class="form-control" id="repeatPassword" formControlName="repeatPassword"
          autocomplete="off" />
        <div class="text-danger"
          *ngIf="registerForm.get('repeatPassword')!.touched && registerForm.hasError('passwordMismatch')">
          {{t('passwordsMustMatch')}}
        </div>
      </div>
      <a routerLink="/auth/login">{{t('loginLink')}}</a>
      <button type="submit" mat-raised-button color="primary" [disabled]="registerForm.invalid">
        {{t('register')}}
      </button>
    </form>
  </div>
</div>
}