<script src="https://accounts.google.com/gsi/client" async></script>

@if (theme$ | async; as theme) {
<div class="card" *transloco="let t; read: 'auth'">
  <div class="card-header">
    <h2 class="card-title">{{t('login')}}</h2>
  </div>
  <div class="card-body">
    <form class="form" [formGroup]="loginForm" (ngSubmit)="submitForm()">
      <div class="mb-3">
        <label for="email" class="form-label">{{t('email')}}</label>
        <input type="text" class="form-control" id="email" formControlName="email" autocomplete="off" />
        <div class="text-danger"
          *ngIf="loginForm.get('email')!.touched && loginForm.get('email')!.hasError('required')">
          {{t('required')}}
        </div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">{{t('password')}}</label>
        <input type="password" class="form-control" id="password" formControlName="password" autocomplete="off" />
        <div class="text-danger"
          *ngIf="loginForm.get('password')!.touched && loginForm.get('password')!.hasError('required')">
          {{t('required')}}
        </div>
      </div>
      <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">{{t('login')}}</button>
    </form>
  </div>
  <div class="hr"></div>
  <div class="google">
    <div id="buttonDiv"></div>
  </div>
</div>
}