.text__white {
  color: #fff;
}

.container {
  display: flex;
  align-items: center;
  margin-top: 50px;
  flex-direction: column;
  width: 100%;
  height: 90vh;
}

h2 {
  padding: 20px;
}

.mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  @media (min-width: 776px) {
    display: none;
  }
}
