.title {
  margin-bottom: 20px;
}

.add-button {
  width: 248px;
}

.movies__wrapper {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.movies__card {
  position: relative;
  margin: 5px;
  width: 280px;
  height: 500px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  text-align: center;

  &__img {
    width: 100%;
    height: 280px;
    // height: 50%;
    overflow: hidden;
  }

  &__button {
    width: 80px;
    margin: 10px;
  }
}

.card-title {
  height: 48px;
}

.modal-movie-title {
  font-weight: 500;
}

.pointer {
  cursor: pointer;
}
