<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<ng-container *transloco="let t; read: 'movies'">
  <div class="header d-flex justify-content-center align-items-center flex-column">
    <h1 class="title">{{t('page_title')}}</h1>
    <form #searchForm="ngForm" (ngSubmit)="goToPage(searchForm.value.title)" role="search">
      <mat-form-field appearance="outline">
        <mat-label>{{t('search')}}</mat-label>
        <input matInput id="search" name="title" ngModel>
        <button mat-icon-button matSuffix type="submit">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </form>
    <button mat-raised-button class="add-button" data-bs-toggle="modal" data-bs-target="#addMovieModal"
      (click)="onOpenModal(null!, 'add')">
      {{t('add')}}<i class="fa-solid fa-plus ms-2"></i>
    </button>
  </div>

  @if(movies$ | async; as movies) {
  <div class="movies__wrapper">
    @for(movie of movies.content; track $index) {
    <div class="card movies__card">
      <img src="{{movie.posterUrl}}" class="card-img-top movies__card__img" alt="movie poster">
      <div class="card-body">
        <h5 class="card-title">{{movie.title}}</h5>
        <p class="card-text">
          {{t('director')}}: {{movie.director.name}} {{movie.director.surname}}
        </p>
        <p>{{t('released')}}: {{movie.yearOfRelease}}</p>
        <div>
          <button class="movies__card__button" mat-raised-button color="primary" data-bs-toggle="modal"
            data-bs-target="#updateMovieModal" (click)="onOpenModal(movie, 'edit')">{{t('edit')}}</button>
          <button class="movies__card__button" mat-raised-button color="warn" data-bs-toggle="modal"
            data-bs-target="#exampleModal" (click)="onOpenModal(movie, 'delete')">{{t('delete')}}</button>
        </div>
      </div>
    </div>
    }
  </div>
  <nav>
    <ul class="pagination justify-content-center">
      <li *ngFor="let pageNumber of [].constructor(movies.totalPages); let i = index;" class="page-item pointer">
        <a (click)="goToPage((searchForm.value.title), i)" class="page-link">
          {{ i + 1 }}
        </a>
      </li>
    </ul>
  </nav>
  <!-- <mat-paginator (page)="goToPage((searchForm.value.title), movies.number+1)" [length]='movies.totalElements'
    [pageSize]='movies.numberOfElements' [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
  </mat-paginator> -->
  }
  @else {
  <div class="movies__wrapper">
    <mat-spinner class="m-1"></mat-spinner>
  </div>
  }


  <!-- Delete modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{t('delete_modal.title')}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <p>{{t('delete_modal.text')}}<span class="modal-movie-title">{{deleteMovie?.title}}</span>?</p>
        </div>
        <div class="modal-footer">
          <button type="button" mat-raised-button data-bs-dismiss="modal">{{t('no')}}</button>
          <button type="button" mat-raised-button color="warn" data-bs-dismiss="modal"
            (click)="onDeleteMovie(deleteMovie)">{{t('yes')}}</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Movie Modal -->
  <div class="modal fade" id="addMovieModal" tabindex="-1" role="dialog" aria-labelledby="addMovieModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addMovieModalLabel">{{t('add')}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddMovie(addForm)">
            <div class="d-flex justify-content-center align-items-center flex-column">
              <mat-form-field class="add-mff">
                <mat-label>{{t('title')}}</mat-label>
                <input matInput ngModel name="title" id="title" required autocomplete="off">
              </mat-form-field>
              @if (directors$ | async; as directors) {
              <mat-form-field class="add-mff">
                <mat-label>{{t('director')}}</mat-label>
                <mat-select ngModel name="director" id="director" required>
                  @for (director of directors; track $index) {
                  <mat-option [value]="director">{{director.name}} {{director.surname}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
              }
              <mat-form-field class="add-mff">
                <mat-label>{{t('released')}}</mat-label>
                <input matInput type="number" [min]="1960" ngModel name="yearOfRelease" id="yearOfRelease" required
                  autocomplete="off">
              </mat-form-field>
              <mat-form-field class="add-mff">
                <mat-label>{{t('posterUrl')}}</mat-label>
                <input matInput ngModel name="posterUrl" id="posterUrl" required autocomplete="off">
              </mat-form-field>
            </div>
            <div class="modal-footer">
              <button type="button" id="add-movie-form" mat-raised-button
                data-bs-dismiss="modal">{{t('close')}}</button>
              <button [disabled]="addForm.invalid" type="submit" mat-raised-button
                color="primary">{{t('save')}}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Modal -->
  <div class="modal fade" id="updateMovieModal" tabindex="-1" role="dialog" aria-labelledby="movieEditModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateMovieModalLabel">{{t('edit')}} {{editMovie?.title}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" ngModel="{{editMovie?.title}}" name="title" class="form-control" id="title"
                aria-describedby="emailHelp" placeholder="Title">
            </div>
            <input type="hidden" ngModel="{{editMovie?.id}}" name="id" class="form-control" id="id" placeholder="">
            <div class="form-group" *ngIf="directors$ | async as directors">
              <label for="director">Director</label>
              <select ngModel name="director" class="form-control" id="director" placeholder="Director" required>
                <option *ngFor="let director of directors" [ngValue]="director">
                  {{ director.name }} {{ director.surname }}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="yearOfRelease">yearOfRelease</label>
              <input type="number" ngModel="{{editMovie?.yearOfRelease}}" name="yearOfRelease" class="form-control"
                id="yearOfRelease" placeholder="2023">
            </div>
            <div class="form-group">
              <label for="posterUrl">Image URL</label>
              <input type="text" ngModel="{{editMovie?.posterUrl}}" name="posterUrl" class="form-control" id="posterUrl"
                placeholder="Movie URL">
            </div>
            <div class="modal-footer">
              <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
              <button (click)="onUpdateMovie(editForm.value)" data-dismiss="modal" class="btn btn-primary">Save
                changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-container>